{{ include 'include/header.html'}}
{{ include 'include/nav-list.html'}}



<!-- breadcrumb-area end -->

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
        <!-- Swiper -->
        <div class="swiper-container zoom-top">
          <div class="swiper-wrapper">

            <div class="swiper-slide zoom-image-hover">
              <img class="img-responsive m-auto" src="assets/images/product-image/zoom-image/1.jpg" alt="">
            </div>
            <div class="swiper-slide zoom-image-hover">
              <img class="img-responsive m-auto" src="assets/images/product-image/zoom-image/2.jpg" alt="">
            </div>
            <div class="swiper-slide zoom-image-hover">
              <img class="img-responsive m-auto" src="assets/images/product-image/zoom-image/3.jpg" alt="">
            </div>
            <div class="swiper-slide zoom-image-hover">
              <img class="img-responsive m-auto" src="assets/images/product-image/zoom-image/4.jpg" alt="">
            </div>
            <div class="swiper-slide zoom-image-hover">
              <img class="img-responsive m-auto" src="assets/images/product-image/zoom-image/5.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-container zoom-thumbs slider-nav-style-1 small-nav mt-3 mb-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="img-responsive m-auto" src="assets/images/product-image/1.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive m-auto" src="assets/images/product-image/2.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive m-auto" src="assets/images/product-image/3.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive m-auto" src="assets/images/product-image/4.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="img-responsive m-auto" src="assets/images/product-image/5.jpg" alt="">
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
        <div class="product-details-content quickview-content">
          <h2>{{goods.title}}</h2>
          <p class="reference">Reference:<span> demo_17</span></p>
          <div class="pro-details-rating-wrap">
            <div class="rating-product">
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
              <i class="ion-android-star"></i>
            </div>
            <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>
          </div>
          <div class="pricing-meta">
            <ul>
              <li class="old-price not-cut">￥{{goods.price}}</li>
            </ul>
          </div>
          <p class="quickview-para">Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
          <div class="pro-details-size-color d-flex">
            <div class="pro-details-color-wrap">
              <span>Color</span>
              <div class="pro-details-color-content">
                <ul>
                  <li class="blue"></li>
                  <li class="maroon active"></li>
                </ul>
              </div>
            </div>
            <div class="product-size">
              <span>Size</span>
              <select>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="4">XL</option>
              </select>
            </div>
          </div>
          <div class="pro-details-quality">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
            </div>
            <div class="pro-details-cart">
              <button class="add-cart btn btn-primary btn-hover-primary ml-4" onclick="addCart('{{goods.id}}','{{userinfo}}')">添加购物车</button>
            </div>
          </div>
<!--          <div class="pro-details-wish-com">-->
<!--            <div class="pro-details-wishlist">-->
<!--              <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Add to-->
<!--                wishlist</a>-->
<!--            </div>-->
<!--            <div class="pro-details-compare">-->
<!--              <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>-->
<!--            </div>-->
<!--          </div>-->
          <div class="pro-details-social-info">
            <span>Share</span>
            <div class="social-info">
              <ul class="d-flex">
                <li>
                  <a href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-google"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pro-details-policy">
            <ul>
              <li><img src="assets/images/icons/policy.png" alt="" /><span>Security Policy (Edit With
                                        Customer Reassurance Module)</span></li>
              <li><img src="assets/images/icons/policy-2.png" alt="" /><span>Delivery Policy (Edit
                                        With Customer Reassurance Module)</span></li>
              <li><img src="assets/images/icons/policy-3.png" alt="" /><span>Return Policy (Edit With
                                        Customer Reassurance Module)</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- New Product Start -->
<div class="section pb-100px" data-aos="fade-up" data-aos-delay="200">
  <div class="container">
    <!-- section title start -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-left mb-11">
          <h2 class="title">猜你喜欢</h2>
        </div>
      </div>
    </div>
    <!-- section title start -->
    <div class="new-product-slider swiper-container slider-nav-style-1" data-aos="fade-up" data-aos-delay="200">
      <div class="new-product-wrapper swiper-wrapper">
        <!-- Single Prodect -->
        <div class="new-product-item swiper-slide">
          <div class="product">
            <div class="thumb">
              <a href="javascript:void(0)" class="image">
                <img src="assets/images/product-image/1.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/2.jpg" alt="Product" />
              </a>
              <span class="badges">
                                    <span class="sale">-10%</span>
                                <span class="new">New</span>
                                </span>
              <div class="actions">
                <a href="javascript:void(0)" class="action wishlist" title="Wishlist"><i
                    class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="icon-size-fullscreen"></i></a>
                <a href="javascript:void(0)" class="action compare" title="Compare"><i
                    class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">Add
                To Cart</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="javascript:void(0)">Simple minimal Chair </a></h5>
              <span class="price">
                                    <span class="new">$18.50</span>
                                <span class="old">$28.50</span>
                                </span>
            </div>
          </div>
        </div>
        <!-- Single Prodect -->
        <div class="new-product-item swiper-slide">
          <div class="product">
            <div class="thumb">
              <a href="javascript:void(0)" class="image">
                <img src="assets/images/product-image/3.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/4.jpg" alt="Product" />
              </a>
              <span class="badges">
                                    <span class="sale">-7%</span>
                                </span>
              <div class="actions">
                <a href="javascript:void(0)" class="action wishlist" title="Wishlist"><i
                    class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="icon-size-fullscreen"></i></a>
                <a href="javascript:void(0)" class="action compare" title="Compare"><i
                    class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">Add
                To Cart</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="javascript:void(0)">Wooden decorations</a></h5>
              <span class="price">
                                    <span class="new">$38.50</span>
                                <span class="old">$43.50</span>
                                </span>
            </div>
          </div>
        </div>
        <!-- Single Prodect -->
        <div class="new-product-item swiper-slide">
          <div class="product">
            <div class="thumb">
              <a href="shop-left-sidebar.html" class="image">
                <img src="assets/images/product-image/5.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/6.jpg" alt="Product" />
              </a>
              <span class="badges d-none">
                                    <span class="new">New</span>
                                </span>
              <div class="actions">
                <a href="javascript:void(0)" class="action wishlist" title="Wishlist"><i
                    class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="icon-size-fullscreen"></i></a>
                <a href="javascript:void(0)" class="action compare" title="Compare"><i
                    class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">Add
                To Cart</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="javascript:void(0)">High quality vase bottle</a></h5>
              <span class="price">
                                    <span class="new">$38.50</span>
                                </span>
            </div>
          </div>
        </div>
        <!-- Single Prodect -->
        <div class="new-product-item swiper-slide">
          <div class="product">
            <div class="thumb">
              <a href="shop-left-sidebar.html" class="image">
                <img src="assets/images/product-image/7.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/8.jpg" alt="Product" />
              </a>
              <span class="badges">
                                    <span class="new">New</span>
                                </span>
              <div class="actions">
                <a href="javascript:void(0)" class="action wishlist" title="Wishlist"><i
                    class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="icon-size-fullscreen"></i></a>
                <a href="javascript:void(0)" class="action compare" title="Compare"><i
                    class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">Add
                To Cart</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="javascript:void(0)">Living & Bedroom Chair</a></h5>
              <span class="price">
                                    <span class="new">$38.50</span>
                                </span>
            </div>
          </div>
        </div>
        <!-- Single Prodect -->
        <div class="new-product-item swiper-slide">
          <div class="product">
            <div class="thumb">
              <a href="shop-left-sidebar.html" class="image">
                <img src="assets/images/product-image/9.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/10.jpg" alt="Product" />
              </a>
              <span class="badges">
                                    <span class="sale">-5%</span>
                                </span>
              <div class="actions">
                <a href="javascript:void(0)" class="action wishlist" title="Wishlist"><i
                    class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="icon-size-fullscreen"></i></a>
                <a href="javascript:void(0)" class="action compare" title="Compare"><i
                    class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">Add
                To Cart</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="shop-left-sidebar.html">Living & Bedroom Table</a></h5>
              <span class="price">
                                    <span class="new">$38.50</span>
                                <span class="old">$40.50</span>
                                </span>
            </div>
          </div>
        </div>
        <!-- Single Prodect -->
      </div>
      <!-- Add Arrows -->
      <div class="swiper-buttons">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>

<!-- New Product End -->








<% include('include/footer.html') %>
