<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
<!--  <title>毕业设计-郎朗家居</title>-->
  <meta name="description" content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Furns - Responsive eCommerce HTML Template" />
  <meta property="og:url" content="PAGE_URL" />
  <meta property="og:site_name" content="Furns - Responsive eCommerce HTML Template" />
  <!-- For the og:image content, replace the # with a link of an image -->
  <meta property="og:image" content="#" />
  <meta property="og:description" content="Furns - Responsive eCommerce HTML Template" />
  <meta name="robots" content="noindex, follow" />
  <!-- Add site Favicon -->
  <link rel="icon" href="assets/images/favicon/favicon.png" sizes="32x32" />
  <link rel="icon" href="assets/images/favicon/favicon.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="assets/images/favicon/favicon.png" />
  <meta name="msapplication-TileImage" content="assets/images/favicon/favicon.png" />
  <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
  <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
  <link rel="stylesheet" href="assets/css/style.min.css">

  <!-- Main Style -->
  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->

</head>

<body>
<!-- Header Area start  -->
<div class="header section">
  <!-- Header Top Message Start -->
  <div class="header-top section-fluid bg-black">
    <div class="container">
      <div class="row row-cols-lg-2 align-items-center">
        <!-- Header Top Message Start -->
        <div class="col text-center text-lg-left">
          <div class="header-top-massege">
            <p>Default Welcome Message </p>
          </div>
        </div>
        <!-- Header Top Message End -->
        <!-- Header Top Language Currency -->
        <div style="color: #fff">
          毕业设计
        </div>
        <!-- Header Top Language Currency -->
      </div>
    </div>
  </div>
  <!-- Header Top  End -->
  <!-- Header Bottom  Start -->
  <div class="header-bottom d-none d-lg-block">
    <div class="container position-relative">
      <div class="row align-self-center">
        <!-- Header Logo Start -->
        <div class="col-auto align-self-center">
          <div class="header-logo">
            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
          </div>
        </div>
        <!-- Header Logo End -->

        <!-- Header Action Start -->
        <div class="col align-self-center">
          <div class="header-actions">
            <div class="header_account_list">
              <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                  class="icon-magnifier"></i></a>
              <div class="dropdown_search">
                <form class="action-form" action="#">
                  <input class="form-control" placeholder="Enter your search key" type="text">
                  <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                </form>
              </div>
            </div>
            <!-- Single Wedge Start -->
            <div class="header-bottom-set dropdown">
              <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                  class="icon-user"></i></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="my-account.html">地址</a></li>
                <li><a class="dropdown-item" href="checkout.html">注册</a></li>
                <li><a class="dropdown-item" href="login.html">登入</a></li>
              </ul>
            </div>
            <!-- Single Wedge End -->
            <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
              <i class="icon-handbag"></i>
              <span class="header-action-num">01</span>
              <!-- <span class="cart-amount">€30.00</span> -->
            </a>
            <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
              <i class="icon-menu"></i>
            </a>
          </div>
        </div>
        <!-- Header Action End -->
      </div>
    </div>
  </div>
  <!-- Header Bottom  End -->
  <!-- Header Bottom  Start -->
  <div class="header-bottom d-lg-none sticky-nav bg-white">
    <div class="container position-relative">
      <div class="row align-self-center">
        <!-- Header Logo Start -->
        <div class="col-auto align-self-center">
          <div class="header-logo">
            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
          </div>
        </div>
        <!-- Header Logo End -->

        <!-- Header Action Start -->
        <div class="col align-self-center">
          <div class="header-actions">
            <div class="header_account_list">
              <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                  class="icon-magnifier"></i></a>
              <div class="dropdown_search">
                <form class="action-form" action="#">
                  <input class="form-control" placeholder="Enter your search key" type="text">
                  <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                </form>
              </div>
            </div>
            <!-- Single Wedge Start -->
            <div class="header-bottom-set dropdown">
              <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                  class="icon-user"></i></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="my-account.html">My account</a></li>
                <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                <li><a class="dropdown-item" href="login.html">Sign in</a></li>
              </ul>
            </div>
            <!-- Single Wedge End -->
            <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
              <i class="icon-handbag"></i>
              <span class="header-action-num">01</span>
              <!-- <span class="cart-amount">€30.00</span> -->
            </a>
            <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
              <i class="icon-menu"></i>
            </a>
          </div>
        </div>
        <!-- Header Action End -->
      </div>
    </div>
  </div>
  <!-- Header Bottom  End -->
  <!-- Main Menu Start -->
  <div class="bg-black d-none d-lg-block sticky-nav">
    <div class="container position-relative">
      <div class="row">
        <div class="col-md-12 align-self-center">
          <div class="main-menu">
            <ul>
              <li><a href="index-2.html">首页</a></li>
              <li><a href="contact.html">购物</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Menu End -->
</div>

<!-- OffCanvas Cart Start  购物车， 登入-->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
  <div class="inner">
    <div class="head">
      <span class="title">Cart</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">胡桃木砧板</a>
            <span class="quantity-price">1 x <span class="amount">￥91.86</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/2.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">幸运的木制的大象</a>
            <span class="quantity-price">1 x <span class="amount">￥453.28</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/3.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">切鱼套装</a>
            <span class="quantity-price">1 x <span class="amount">$87.34</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="sub-total">
        <table class="table">
          <tbody>
          <tr>
            <td class="text-left">小计 :</td>
            <td class="text-right">￥523.30</td>
          </tr>
          <tr>
            <td class="text-left">实际支付 :</td>
            <td class="text-right theme-color">￥523.30</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="buttons">
        <a href="cart.html" class="btn btn-dark btn-hover-primary mb-6">购物车</a>
        <a href="checkout.html" class="btn btn-outline-dark current-btn">购买</a>
      </div>
      <p class="minicart-message">Free Shipping on All Orders Over $100!</p>
    </div>
  </div>
</div>
<!-- OffCanvas Cart End -->

<!-- Header Area End  -->
<!--移动端的菜单 -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
  <button class="offcanvas-close"></button>
  <div class="inner customScroll">

    <div class="offcanvas-menu mb-4">
      <ul>
        <li><a href="contact.html">首页</a></li>
        <li><a href="contact.html">商品选择</a></li>
      </ul>
    </div>
    <!-- OffCanvas Menu End -->
  </div>
</div>



<!--/*  中间内容， 根据不同的路由跳转*/-->
{% block  content %}
{% endblock %}



<!-- Footer Area Start -->
<div class="footer-area">
  <div class="footer-container">

    <div class="footer-bottom">
      <div class="container">
        <!--        <div class="row ">-->
        @2021年 毕业设计 --xxx
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>


<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>

<!-- Main Js -->
<script src="assets/js/main.js"></script>
</body>

</html>
