<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">

        <div class="footer-bottom">
            <div class="container">
                <!--        <div class="row ">-->
                @2021年 毕业设计 --xxx
                <!--        </div>-->
            </div>
        </div>
    </div>
</div>


<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>

<!-- Main Js -->
<script src="assets/js/main.js"></script>
</body>

</html>
