<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title><%= title %></title>
    <meta name="description" content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Furns - Responsive eCommerce HTML Template" />
    <meta property="og:url" content="PAGE_URL" />
    <meta property="og:site_name" content="Furns - Responsive eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Furns - Responsive eCommerce HTML Template" />
    <meta name="robots" content="noindex, follow" />
    <!-- Add site Favicon -->
    <link rel="icon" href="assets/images/favicon/favicon.png" sizes="32x32" />
    <link rel="icon" href="assets/images/favicon/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="assets/images/favicon/favicon.png" />
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.min.css">

    <!-- Main Style -->
    <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.js"></script>
</head>

<body>
<!-- Header Area start  -->
<div class="header section">
    <!-- Header Top Message Start -->
    <div class="header-top section-fluid bg-black">
        <div class="container">
            <div class="row row-cols-lg-2 align-items-center">
                <!-- Header Top Message Start -->
                <div class="col text-center text-lg-left">
                    <div class="header-top-massege">
                        <p> 毕业设计 {{  userinfo }}</p>
                    </div>
                </div>
                <!-- Header Top Message End -->
                <!-- Header Top Language Currency -->

                    <div class="col d-none d-lg-block">
                        <div class="header-top-set-lan-curr d-flex justify-content-end">
                            <!-- Single Wedge Start -->
                            {{ if userinfo }}
                            <div class="header-top-curr dropdown">
                                <a class="dropdown-toggle"  href="javascript:void(0)">当前用户
                                </a>
                            </div>
                            <div class="header-top-curr dropdown">
                                <a class="dropdown-toggle pr-0 border-0" href="javascript:void(0)">{{ userinfo }}</a>
                            </div>
                          {{ else }}
                            <div class="header-top-curr dropdown">
                                <a class="dropdown-toggle"  href="/login">注册
                                </a>
                            </div>
                            <div class="header-top-curr dropdown">
                                <a class="dropdown-toggle pr-0 border-0" href="/login">登入
                                </a>
                            </div>
                            {{/if}}
                            <!-- Single Wedge End -->
                        </div>
                    </div>

                <!-- Header Top Language Currency -->
            </div>
        </div>
    </div>
    <!-- Header Top  End -->
    <!-- Header Bottom  Start -->
    <div class="header-bottom d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-self-center">
                <!-- Header Logo Start -->
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/"><img src="assets/images/logo/logo.png" alt="Site Logo" /> {{userinfo}}</a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Action Start -->
                <div class="col align-self-center">
                    <div class="header-actions">
                        <div class="header_account_list">
                            <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                        class="icon-magnifier"></i></a>
                            <div class="dropdown_search">
                                <form class="action-form" action="#">
                                    <input class="form-control" placeholder="Enter your search key" type="text">
                                    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Wedge Start -->
                        {{ if userinfo }}
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                        class="icon-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="my-account">个人信息</a></li>
<!--                                <li><a class="dropdown-item" href="login">退出登入</a></li>-->
                                <li><a class="dropdown-item" href="logout">退出登入</a></li>
                            </ul>
                        </div>
                        {{/if}}
                        <!-- Single Wedge End -->
                        <div  class="header-action-btn header-action-btn-cart " onclick="showCart('{{userinfo}}')">
                            <i class="icon-handbag"></i>
                            <span class="header-action-num">03</span>
                            <!-- <span class="cart-amount">€30.00</span> -->
                        </div>
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom  End -->
    <!-- Header Bottom  Start -->
    <div class="header-bottom d-lg-none sticky-nav bg-white">
        <div class="container position-relative">
            <div class="row align-self-center">
                <!-- Header Logo Start -->
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Action Start -->
                <div class="col align-self-center">
                    <div class="header-actions">
                        <div class="header_account_list">
                            <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                        class="icon-magnifier"></i></a>
                            <div class="dropdown_search">
                                <form class="action-form" action="#">
                                    <input class="form-control" placeholder="Enter your search key" type="text">
                                    <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Single Wedge Start -->
                        {{ if userinfo}}
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                        class="icon-user"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="/my-account">个人中心</a></li>
                                <li><a class="dropdown-item" href="/login">切换账号</a></li>
                                <li><a class="dropdown-item" href="/logout">退出</a></li>
                            </ul>
                        </div>
                        {{/if}}
                        <!-- Single Wedge End -->
                        <a href="{{ userinfo?'#offcanvas-cart':'javascript:void(0)'}}" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="icon-handbag"></i>
                            <span class="header-action-num">01</span>
                            <!-- <span class="cart-amount">€30.00</span> -->
                        </a>
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
                <!-- Header Action End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom  End -->
    <!-- Main Menu Start -->
    <div class="bg-black d-none d-lg-block sticky-nav">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="main-menu">
                        <ul>
                            <li><a href="/">首页</a></li>
                            <li><a href="/shop-list">商品列表</a></li>
                            <li><a href="/cart">购物车</a></li>
                            <li><a href="/about">关于我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu End -->
</div>

<!-- OffCanvas Cart Start  购物车， 登入-->
{{if userinfo}}
<div class="offcanvas-overlay" id="c-model"></div>
<div id="offcanvas-cart" class="offcanvas offcanvas-cart ">
    <div class="inner">
        <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            <ul class="minicart-product-list">
                <li>
                    <a href="single-product.html" class="image"><img src="assets/images/product-image/1.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="single-product.html" class="title">胡桃木砧板</a>
                        <span class="quantity-price">1 x <span class="amount">￥91.86</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="single-product.html" class="image"><img src="assets/images/product-image/2.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="single-product.html" class="title">幸运的木制的大象</a>
                        <span class="quantity-price">1 x <span class="amount">￥453.28</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="single-product.html" class="image"><img src="assets/images/product-image/3.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="single-product.html" class="title">切鱼套装</a>
                        <span class="quantity-price">1 x <span class="amount">$87.34</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="foot">
            <div class="sub-total">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="text-left">小计 :</td>
                        <td class="text-right">￥523.30</td>
                    </tr>
                    <tr>
                        <td class="text-left">实际支付 :</td>
                        <td class="text-right theme-color">￥523.30</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <a href="cart.html" class="btn btn-dark btn-hover-primary mb-6">购物车</a>
                <a href="checkout.html" class="btn btn-outline-dark current-btn">购买</a>
            </div>
            <p class="minicart-message">Free Shipping on All Orders Over $100!</p>
        </div>
    </div>
</div>
<!-- OffCanvas Cart End -->
{{/if}}
<!-- Header Area End  -->
<!--移动端的菜单 -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
    <button class="offcanvas-close"></button>
    <div class="inner customScroll">

        <div class="offcanvas-menu mb-4">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/shop-list">商品选择</a></li>
            </ul>
        </div>
        <!-- OffCanvas Menu End -->
    </div>
</div>

<script>
  function  showCart(to){
      if(to){
          const model = document.getElementById('c-model')
          const $cart = document.getElementById('offcanvas-cart')
          model.style.display = 'block'
          $cart.classList.add('offcanvas-open')
      }else {
          alert('请先登入哦！')
      }
  }
</script>

<script>
    function httpRequest(url,metal='get',cabllk){

        var xhr = new XMLHttpRequest()
        xhr.open(metal,url)
        // xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // document.getElementById('num_res').value = xhr.responseText;
                cabllk( xhr.responseText)
            }
        }
        xhr.send()
    }
</script>

<script>
    function addCart(id,userid){
        //添加购物车
        console.log(id)
        if(!userid){
            alert('请先登入')
            return false
        }
        /** 请求添加购物车*/
        var xhr = new XMLHttpRequest()
        xhr.open('post','/cart')
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // document.getElementById('num_res').value = xhr.responseText;
                alert( xhr.responseText)
            }
        }
        xhr.send(`userid=${userid}&id=${id}`)

    }
</script>
