<div class="offcanvas-overlay"></div>
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row breadcrumb_box  align-items-center">
          <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
            <h2 class="breadcrumb-title">{{ navName}}</h2>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <!-- breadcrumb-list start -->
            <ul class="breadcrumb-list text-center text-md-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">{{navName}}</li>
            </ul>
            <!-- breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
